
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

header {
    background: #0077b6;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 22px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
}

section {
    padding: 30px;
    width: 90%;
    margin: auto;
}

h2 {
    margin-bottom: 15px;
}


hero {
    text-align: center;
}

.hero-text h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}


.destination-list,
.guide-list,
.blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #023e8a;
    color: white;
    border-radius: 5px;
}
.blog-card {
    cursor: pointer;
}

.post-image {
    width: 100%;
    margin: 15px 0;
    border-radius: 8px;
}
.contact-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.contact-form,
.contact-info {
    background: white;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 15px;
    background: #0077b6;
    color: white;
    margin-top: 30px;
}